#one {
    background-color:grey;
    width:100%;
    height:50px;
    text-align:center;
    font-size:40px;
    font-family: 'Acme', sans-serif;
    border:5px solid black;
}
#two {
    width:50%;
    font-size:30px;
    background-color:pink;
    text-align: center;
    padding-top: 20px;
    margin-top:50px;
    margin-left:25%;

}
#three {
    font-size:20px;
    background-color:pink;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:25%;
    width:48.4%;
}
#four {
    width:48.4%;
    font-size:30px;
    background-color:pink;
    padding-left:20px;
    padding-top: 20px;
    margin-top:50px;
    margin-left:25%;
    text-align:center;
}
#five {
    width:48.4%;
    font-size:20px;
    background-color:pink;
    padding-left:20px;
    margin-left:25%;
    padding-bottom: 5px;
}
#eleven {
    width:48.4%;
    font-size:30px;
    background-color:pink;
    padding-left:20px;
    padding-top: 20px;
    margin-top:50px;
    margin-left:25%;
    text-align:center;
}
#twelve {
    width:48.4%;
    background-color:pink;
    font-size:20px;
    padding-left:20px;
    margin-left:25%;
    padding-bottom: 5px;
}